---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allCatalogs = await getCollection("catalogs");
---

<Layout title="Catalogos de autopartes">
  <section class="flex flex-col gap-2 mt-4 mb-10" id="catalogs">
    {
      allCatalogs.map((catalog) => {
        return (
          <article class="flex bg-light-200 rounded-2xl p-4 gap-4">
            <aside class="flex items-center">
              <a href={catalog.data.link} target="_blank">
                <img
                  class="w-36 min-w-36"
                  src={`/public/logos/${catalog.slug}.webp`}
                  alt={catalog.data.name}
                />
              </a>
            </aside>
            <main class="flex flex-wrap flex-grow gap-2 items-center">
              {catalog.data.autoparts.map((autopart) => {
                return (
                  <span class="bg-light-100 text-sm px-3 py-1 h-max rounded-full">
                    {autopart}
                  </span>
                );
              })}
            </main>
            <a
              class="bg-purple rounded-lg px-2 flex items-center hover:outline hover:outline-1 hover:outline-dark"
              target="_blank"
              href={catalog.data.link}
            >
              {">"}
            </a>
          </article>
        );
      })
    }
  </section>
</Layout>
